.subumission_main_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.submission_sub_container{
    display: flex;
    width: 100vw;
    height: 80%;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.form{
    width: 40%;
    height: 80%;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.upload_box{
    width: 40%;
    height: 80%;
    border-width: thin;
    border-color: black;
    border-style: solid;
}